<style>
  
</style>

<!-- <div class="content" role="main">
   <app-foo [label]="'Some Label 1'"></app-foo>  
  <app-foo [label]="'Some Label 2'"></app-foo>  
  <app-card><app-bio>Been around for four years.</app-bio></app-card>
</div> -->
<nav>
  <!-- <ul>
    <li>
      <a [routerLink]="['dashboard']">Dashboard</a> <br/>
      <a [routerLink]="['users']">Users</a>
    </li>
  </ul> -->
</nav>
<div app-card><app-bio>Been around for four years.</app-bio></div>
<app-card><app-bio>Been around for Five years.</app-bio></app-card>
<router-outlet></router-outlet>